body {
  max-width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  @include respond-to('medium') {
    max-width: 80%;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  .loading {
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    min-height: 32px;
    margin-left: .5em;
  }

}

header {
  padding: .5em;
}

.next-events {
  h2 {
    text-transform: capitalize;
    margin-left: .5em;
  }
  li {
    padding: .5em 1.3em .5em .5em;
    font-size: 1.5em;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
    position: relative;
    &:hover {
      background-color: #ccc;
    }
    &:after{
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-family: -webkit-body;
      font-size: 37px;
      background-image: url(https://rrisd.avatarlms.com/images/icons/arrowright.png);
      height: 20px;
      width: 20px;

      @include respond-to('medium') {
        display: none;
      }
    }
  }
}

.list-zones li {
  display: inline-block;
  margin-bottom: .5em;
  margin-right: .5em;

  a.active {
    color: #ccc;
  }
}